.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
@font-face {
  font-family: 'RobotoSlab';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
body {
  background: url('../img/bg-body.jpg');
}
.my-container {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  cursor: default;
  overflow-y: hidden;
  overflow-x: visible;
  scroll-behavior: smooth;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.autopadding {
  padding: 0 14% 0 14%;
}
* > div {
  margin: 0px;
  font-family: RobotoSlab;
  font-size: 14px;
  color: #555555;
  line-height: 1.75;
}
h1 {
  margin: 0px;
  padding-top: 95px;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}
h2 {
  padding-top: 30px;
  padding-bottom: 65px;
  margin: 0px;
  font-family: RobotoSlab;
  font-size: 16px;
  text-align: center;
}
h3 {
  text-decoration: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a {
  font-family: 14px;
  font-size: RobotoSlab;
  color: #555555;
}
a:hover {
  color: #c0301c;
}
input {
  font-size: 12px;
}
.form-control {
  height: 45px;
  border-color: #555555;
  border-radius: 2px;
}
.form-control:focus {
  border-color: #c0301c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#message textarea {
  height: 105px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: uppercase;
  vertical-align: text-top;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: uppercase;
  top: 10%;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: uppercase;
  top: 10%;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: uppercase;
  top: 10%;
}
::placeholder {
  /* Recent browsers */
  text-transform: uppercase;
  vertical-align: text-top;
}
.bold-row {
  height: calc(1.625vw);
  width: calc(3.125vw);
  border-bottom: solid #555555 calc(0.125vw);
  margin: auto;
}
.button-style {
  background: none;
  border: solid 2px #fff;
  border-radius: 2px;
  padding: calc(0.9375vw) calc(2vw) calc(0.625vw) calc(2vw);
  font-family: Montserrat-Regular;
  font-size: 16px;
}
.button-style:hover,
:focus {
  background: #fff;
  color: #555555;
  transition: 0.5s;
}
.arrow-right,
.arrow-left {
  position: absolute;
  top: 33%;
  background: #8d8d8d;
  opacity: 0.75;
  z-index: 15;
}
.arrow-right img,
.arrow-left img {
  height: calc(2.5vw);
  min-height: 25px;
  width: calc(2.1875vw);
  min-width: 20px;
  opacity: 1;
}
.arrow-right :hover,
.arrow-left :hover {
  background: #c0301c;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-right > img :hover,
.arrow-left :hover,
.arrow-right :focus,
.arrow-left :focus {
  background: #c0301c;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-right {
  right: 1.25%;
}
.arrow-left {
  left: 1.25%;
}
@media screen and (min-width: 1280px) and (max-width: 1580px) {
  body #slick-images {
    height: calc(288px);
  }
  body #slick-images .arrow-right,
  body #slick-images .arrow-left {
    transform: scale(0.9, 0.9);
  }
  body #slick-images .arrow-right {
    right: 1.5%;
  }
  body #slick-images .arrow-left {
    left: 2%;
  }
  body #slick-images .team-photo {
    max-width: calc(16.4375vw);
  }
  body #slick-images .data p {
    font-size: calc(0.875vw);
  }
  body #slick-images .data :first-child {
    margin-bottom: 5px;
    font-size: calc(1.5vw);
  }
  body #slick-images .clients p {
    transform: scale(1.2, 1.2);
  }
  body #slick-images .clients .slick-dots {
    transform: scale(0.7, 0.7);
  }
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {
  body .button-style {
    font-size: calc(1.125vw);
  }
  body header h1 {
    font-size: calc(1.375vw);
  }
  body header ul {
    font-size: calc(0.875vw);
  }
  body #slick-images .arrow-right,
  body #slick-images .arrow-left {
    transform: scale(0.85, 0.85);
  }
  body .team-photo {
    max-width: calc(16.4375vw);
  }
  body .post-conteiner {
    padding-right: 0;
  }
  body .blog-posts {
    padding-right: 0;
  }
  body .blog-posts h1,
  body .blog-posts h2 {
    padding-right: 14%;
  }
  body .blog-posts .bold-row {
    margin-right: 55%;
  }
  body .blog-posts .post-conteiner {
    padding-bottom: 5%;
  }
  body .data p {
    font-size: calc(0.875vw);
  }
  body .data :first-child {
    margin-top: -0.4vw;
    font-size: calc(1.5vw);
  }
  body .clients p {
    font-size: 1.5vw;
  }
  body .clients #slick-rows > div {
    width: calc(59.25vw);
    height: calc(10.9375vw);
  }
  body .slick-dots {
    transform: scale(0.7, 0.7);
  }
}
@media screen and (max-width: 1024px) {
  body * > div {
    font-size: 1.6vw;
  }
  body .button-style {
    font-size: 1.6vw;
  }
  body h1 {
    padding-top: 7vw;
    font-size: 18px;
  }
  body h2 {
    padding-top: 2vw;
    padding-bottom: 7vw;
  }
  body .home-bg {
    background-size: 103%;
    background-position: top;
  }
  body header nav {
    margin-left: 0;
  }
  body .home-section > :nth-child(2) {
    font-size: 32px;
    padding-top: 15vw;
  }
  body .home-section > :nth-child(3) {
    font-size: 16px;
  }
  body .service-description h3 {
    padding: 0;
    margin: 2%;
  }
  body .service-description p {
    line-height: 1.5;
    padding: 0;
    margin: 2%;
  }
  body .sprit-circles {
    transform: scale(0.8, 0.8);
  }
  body .social-button {
    font-size: 16px;
  }
  body .arrow-right,
  body .arrow-left {
    top: 20%;
  }
  body .team-subtitle {
    margin-top: -2%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(17.6875vw);
  }
  body .contact-style {
    padding-bottom: calc(5.1875vw);
  }
  body .contact-style > :first-child {
    padding-top: calc(5.1875vw);
  }
  body .blog-posts h3 {
    font-size: calc(1.5vw);
  }
  body .blog-posts h4 {
    font-size: calc(1.25vw);
  }
  body .blog-posts .data p {
    font-size: calc(1.125vw);
    margin: -0.6vw 0 1vw -0.6vw;
  }
  body .blog-posts .data :first-child {
    font-size: calc(1.75vw);
  }
  body .partners {
    position: relative;
    width: 110%;
    left: -4%;
  }
  body .clients p {
    font-size: 2vw;
  }
  body #slick-rows > div {
    width: calc(59.25vw);
    height: calc(16.40625vw);
  }
  body .slick-dots {
    transform: scale(0.4, 0.4);
  }
}
@media screen and (max-width: 768px) and (min-width: 468px) {
  body * > div {
    font-size: 2vw;
  }
  body .button-style {
    font-size: 2vw;
  }
  body h1 {
    font-size: 2.7vw;
  }
  body h2 {
    font-size: 2.3vw;
  }
  body .bold-row {
    transform: scale(3, 1);
  }
  body header .col-xs-12 {
    text-align: center;
  }
  body header h1 {
    font-size: 2.7vw;
  }
  body header ul {
    font-size: 2.1vw;
  }
  body .home-section > :nth-child(2) {
    padding-top: 8vw;
    font-size: 5vw;
  }
  body .home-section > :nth-child(3) {
    margin-bottom: 3vw;
    font-size: 2.5vw;
  }
  body .service-description h3 {
    font-size: 2.2vw;
  }
  body .sprit-circles {
    transform: scale(0.65, 0.65);
  }
  body .team-title {
    font-size: 2vw;
  }
  body .team-subtitle {
    font-size: 2vw;
    margin-top: -2%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(23.125vw);
  }
  body .works li {
    font-size: 2.5vw;
  }
  body .works-table {
    transform: scale(1.2, 1.2);
    padding: 10% 0 10% 0;
  }
  body .bg-works-hover > :first-child {
    padding-top: 3vw;
    padding-bottom: 0.6vw;
    font-size: 2.2vw;
  }
  body .bg-works-hover > :nth-child(2) {
    font-size: 2.2vw;
    padding-bottom: 0.6vw;
  }
  body .works-button {
    font-size: 2.2vw;
  }
  body .contact-style {
    font-size: 2.3vw;
  }
  body .blog-posts {
    padding-left: 14%;
    padding-right: 14%;
  }
  body .blog-posts h1,
  body .blog-posts h2 {
    padding-right: 0;
  }
  body .blog-posts .bold-row {
    margin-right: auto;
  }
  body .blog-posts .post-conteiner {
    padding-bottom: 1%;
  }
  body .blog-posts .post-conteiner > :nth-child(3) {
    padding-left: 10%;
  }
  body .blog-posts h3 {
    font-size: 2.2vw;
  }
  body .blog-posts h4 {
    font-size: 2vw;
  }
  body .blog-posts img {
    width: calc(85.75vw);
    height: auto;
    margin-left: -3%;
  }
  body .blog-posts a {
    font-size: 2vw;
  }
  body .blog-posts p {
    margin: 0;
  }
  body .partners {
    position: relative;
    width: 120%;
    left: -7%;
  }
  body .clients p {
    font-size: 2vw;
  }
  body #slick-rows > div {
    width: calc(59.25vw);
    height: calc(16.40625vw);
  }
  body .get-in-touch h3,
  body .get-in-touch button,
  body .get-in-touch input {
    font-size: 2.5vw;
  }
  body .get-in-touch i,
  body .get-in-touch p {
    font-size: 1.7vw;
  }
  body .get-in-touch button {
    transform: scale(0.8, 0.8);
  }
  body .form-control {
    height: 6vw;
  }
  body .footer-name {
    padding-bottom: 3vw;
  }
  body .footer-name div {
    font-size: 2vw;
    border: solid white 1.5px;
    left: -5%;
  }
  body .footer-name h2 {
    padding-top: 4vw;
  }
}
@media screen and (max-width: 468px) and (min-width: 168px) {
  body * > div {
    font-size: 4vw;
  }
  body .button-style {
    font-size: 3vw;
  }
  body .social-button {
    font-size: 2.5vw;
  }
  body h1 {
    font-size: 4vw;
  }
  body h2 {
    font-size: 2.5vw;
  }
  body .bold-row {
    transform: scale(3, 1);
  }
  body header h1 {
    font-size: 5vw;
  }
  body header ul {
    font-size: 2.8vw;
    width: 125%;
    text-align: left;
    margin-left: -10%;
  }
  body .home-section > :nth-child(2) {
    padding-top: 3vw;
    font-size: 5vw;
  }
  body .home-section > :nth-child(3) {
    margin-bottom: 3vw;
    font-size: 3.5vw;
  }
  body .service-description h3 {
    font-size: 3.5vw;
  }
  body .sprit-circles {
    transform: scale(0.65, 0.65);
  }
  body .team-title {
    font-size: 2vw;
  }
  body .team-subtitle {
    font-size: 2vw;
    margin-top: -7%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(23.125vw);
  }
  body .works li {
    font-size: 3.5vw;
  }
  body .works-table {
    transform: scale(1.2, 1.2);
    padding: 10% 0 10% 0;
  }
  body .bg-works-hover > :first-child {
    padding-top: 3vw;
    padding-bottom: 0.6vw;
    font-size: 2.2vw;
  }
  body .bg-works-hover > :nth-child(2) {
    font-size: 2.2vw;
    padding-bottom: 0.6vw;
  }
  body .works-button {
    font-size: 2.2vw;
  }
  body .contact-style {
    font-size: 3.5vw;
  }
  body .blog-posts .bold-row {
    margin-right: auto;
  }
  body .blog-posts .post-conteiner {
    padding-bottom: 1%;
  }
  body .blog-posts .post-conteiner > :nth-child(3) {
    padding-left: 10%;
  }
  body .blog-posts h3 {
    font-size: 3.2vw;
  }
  body .blog-posts h4 {
    font-size: 2.7vw;
  }
  body .blog-posts img {
    width: calc(85.75vw);
    height: auto;
    margin-left: -6%;
  }
  body .blog-posts a {
    font-size: 3vw;
  }
  body .blog-posts p {
    margin: 0;
  }
  body .partners {
    position: relative;
    width: 130%;
    left: -11%;
  }
  body .clients p {
    font-size: 4vw;
    line-height: 1.3;
  }
  body .clients .img-1,
  body .clients .img-2,
  body .clients .img-3,
  body .clients .img-4,
  body .clients .img-5 {
    transform: scale(1.6, 1.7);
  }
  body #slick-rows > div {
    width: calc(74.0625vw);
    height: calc(35vw);
  }
  body .get-in-touch button {
    font-size: 4vw;
    height: auto;
    width: 75%;
  }
  body .form-control {
    height: 6vw;
  }
  body .footer-name {
    padding-bottom: 5vw;
  }
  body .footer-name div {
    font-size: 4vw;
    border: solid white 1px;
    left: -5%;
  }
  body .footer-name .bold-row {
    margin-bottom: 5%;
  }
  body .footer-name h2 {
    padding-top: 4vw;
  }
}
.home-bg {
  position: relative;
  background-image: url('../img/bg-home.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-attachment: fixed;
}
.home-section {
  background-color: rgba(0, 0, 0, 0.45);
  background-size: 100%;
  max-height: 771px;
  height: calc(48.1875vw);
  padding: 0 14% 0 14%;
  color: #fff;
}
.header-font-color {
  color: #c0301c;
  opacity: 0.7;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
header {
  position: relative;
  width: 100%;
  padding: calc(1.25vw) 0 0 0;
}
header .col-lg-6 {
  text-align: left;
  padding-right: 0;
}
header h1 {
  padding-top: 0;
  text-transform: none;
  font-family: Montserrat-Bold;
  font-size: 22px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #fff;
}
header ul {
  padding-left: 0;
  font-family: Montserrat-Regular;
  text-align: right;
  font-weight: 750;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #fff;
}
header li {
  margin-right: calc(1.875vw);
  display: inline;
  list-style: none;
}
header ul > :last-child {
  margin-right: 0px;
}
header a {
  color: inherit;
}
.home-section > :nth-child(2) {
  padding-top: calc(14.8125vw);
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
}
.home-section > :nth-child(3) {
  margin-bottom: calc(2.5vw);
  font-size: 20px;
}
