.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
@font-face {
  font-family: 'RobotoSlab';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  /*  src: url('@{font-folder}@{font-url}.eot'); // IE9 Compat Modes -3
  src: url('@{font-folder}@{font-url}.eot?#iefix') format('embedded-opentype'), // IE6-IE8 
  url('@{font-folder}@{font-url}.woff') format('woff'), // Pretty Modern Browsers */
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  /*  url('@{font-folder}@{font-url}.svg#@{font-name}') format('svg'); // Legacy iOS  */
  font-weight: normal;
  font-style: normal;
}
body {
  background: url('../img/bg-body.jpg');
}
.my-container {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  cursor: default;
  overflow-y: hidden;
  overflow-x: visible;
  scroll-behavior: smooth;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.autopadding {
  padding: 0 14% 0 14%;
}
* > div {
  margin: 0px;
  font-family: RobotoSlab;
  font-size: 14px;
  color: #555555;
  line-height: 1.75;
}
h1 {
  margin: 0px;
  padding-top: 95px;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}
h2 {
  padding-top: 30px;
  padding-bottom: 65px;
  margin: 0px;
  font-family: RobotoSlab;
  font-size: 16px;
  text-align: center;
}
h3 {
  text-decoration: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a {
  font-family: 14px;
  font-size: RobotoSlab;
  color: #555555;
}
a:hover {
  color: #c0301c;
}
input {
  font-size: 12px;
}
.form-control {
  height: 45px;
  border-color: #555555;
  border-radius: 2px;
}
.form-control:focus {
  border-color: #c0301c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#message {
  height: 105px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  text-transform: uppercase;
  vertical-align: text-top;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  text-transform: uppercase;
  top: 10%;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  text-transform: uppercase;
  top: 10%;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  text-transform: uppercase;
  top: 10%;
}
::placeholder {
  /* Recent browsers */
  text-transform: uppercase;
  vertical-align: text-top;
}
.bold-row {
  height: 26px;
  width: 50px;
  border-bottom: solid #555555 2px;
  margin: auto;
}
.button-style {
  background: none;
  border: solid 2px #fff;
  border-radius: 2px;
  padding: 15px 32px 10px 32px;
  font-family: Montserrat-Regular;
  font-size: 16px;
}
.button-style:hover,
:focus {
  background: #fff;
  color: #555555;
  transition: 0.5s;
}
.arrow-right,
.arrow-left {
  position: absolute;
  top: 33%;
  background: #8d8d8d;
  opacity: 0.75;
  z-index: 15;
}
.arrow-right img,
.arrow-left img {
  height: 40px;
  width: 35px;
  opacity: 1;
}
.arrow-right :hover,
.arrow-left :hover {
  background: #c0301c;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-right > img :hover,
.arrow-left :hover,
.arrow-right :focus,
.arrow-left :focus {
  background: #c0301c;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-right {
  right: 1.25%;
}
.arrow-left {
  left: 1.25%;
}
@media screen and (min-width: 1280px) and (max-width: 1580px) {
  body #slick-images {
    height: calc(288px);
  }
  body #slick-images .arrow-right,
  body #slick-images .arrow-left {
    transform: scale(0.9, 0.9);
  }
  body #slick-images .arrow-right {
    right: 1.5%;
  }
  body #slick-images .arrow-left {
    left: 1.5%;
  }
  body #slick-images .team-photo {
    max-width: calc(236.7px);
  }
  body .img-works-style {
    height: calc(262.4px);
    width: calc(295.2px);
  }
  body .bg-works-hover {
    height: calc(256px);
    width: calc(288px);
  }
  body .works-button {
    transform: scale(0.85, 0.85);
  }
  body .works {
    height: calc(1242px);
  }
}
@media screen and (max-width: 1280px) {
  body #slick-images {
    height: calc(256px);
    margin: 0 -20px 0 -20px;
  }
  body #slick-images .arrow-right,
  body #slick-images .arrow-left {
    transform: scale(0.8, 0.8);
  }
  body #slick-images .arrow-left {
    left: 1.35%;
  }
  body #slick-images .team-photo {
    max-width: calc(198.4px);
    height: calc(206.4px);
  }
}
@media screen and (max-width: 1024px) {
  body h1 {
    padding-top: 65px;
    font-size: 18px;
  }
  body h2 {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  body .home-bg {
    background-size: 120%;
    background-position: top;
  }
  body .home-section {
    height: 571px;
  }
  body header h1 {
    margin-top: -4px;
  }
  body header nav {
    margin-left: -2%;
  }
  body .home-section > :nth-child(2) {
    padding-top: 137px;
    font-size: 36px;
  }
  body .home-section > :nth-child(3) {
    margin-bottom: 46px;
    font-size: 18px;
  }
  body .services {
    height: 575px;
  }
  body .service-description p {
    line-height: 1.5;
  }
  body .sprit-circles {
    padding-left: 0;
    transform: scale(0.8, 0.8);
  }
}
.home-bg {
  position: relative;
  background-image: url('../img/bg-home.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-attachment: fixed;
}
.home-section {
  background-color: rgba(0, 0, 0, 0.45);
  background-size: 100%;
  height: 771px;
  padding: 0 14% 0 14%;
  color: #fff;
}
.header-font-color {
  color: #c0301c;
  opacity: 0.7;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
header {
  position: relative;
  width: 1200px;
  padding: 41 0 0 19;
}
header .col-lg-6 {
  text-align: left;
}
header h1 {
  padding-top: 0;
  text-transform: none;
  font-family: Montserrat-Bold;
  font-size: 22px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
header nav {
  margin-left: -14%;
}
header ul {
  width: 100%;
  padding-left: 0;
  font-family: Montserrat-Regular;
  font-weight: 750;
  font-size: 14px;
  letter-spacing: 0.02em;
}
header li {
  margin-right: 30px;
  display: inline;
  list-style: none;
}
header ul > :last-child {
  margin-right: 0px;
}
header a {
  color: inherit;
}
.home-section > :nth-child(2) {
  padding-top: 237px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 48px;
}
.home-section > :nth-child(3) {
  margin-bottom: 46px;
  font-size: 20px;
}
.services {
  background: #fff;
  height: 580px;
  padding: 0 14% 0 14%;
  text-align: center;
}
.service-description h3 {
  padding: 12px 0 4px 0;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: bold;
}
.service-description p {
  line-height: 1.7;
}
.sprit-circles {
  padding-left: 15px;
  width: 105px;
  height: 90px;
  object-fit: none;
}
.first-img-circle {
  object-position: 0 0;
}
.second-img-circle {
  object-position: 50% 0;
}
.third-img-circle {
  object-position: 100% 0;
}
.about-us {
  padding: 0 14% 0 14%;
  height: 850px;
  text-align: center;
  background: #f8f8f8;
}
.about-us .about-us-description {
  margin-top: -5px;
  padding-bottom: 55px;
  text-align: left;
}
#slick-images {
  margin: 0 0 0 -15px;
  height: 320px;
}
#slick-images .team-photo {
  padding: 0;
  max-width: 263px;
  width: 217px;
  max-height: 331px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}
#slick-images .first-img {
  background-image: url("../img/team/bg-team-1.png");
}
#slick-images .second-img {
  background-image: url("../img/team/bg-team-2.png");
}
#slick-images .third-img {
  background-image: url("../img/team/bg-team-3.png");
}
#slick-images .forth-img {
  background-image: url("../img/team/bg-team-4.png");
}
#slick-images .fifth-img {
  background-image: url();
}
.team-title {
  padding-top: 17px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-weight: 750;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.05em;
}
.team-subtitle {
  text-align: center;
  font-size: 13px;
}
.bg-team-hover {
  background: rgba(85, 85, 85, 0.5);
  padding: 0 0 10% 0;
  z-index: 200;
  opacity: 0;
}
.img-hover:hover > .bg-team-hover {
  opacity: 1;
  transition: 0.5s;
}
.social-button {
  margin-top: 74%;
  font-size: 18px;
  height: 30px;
  width: 30px;
  color: #fff;
  padding-top: 7px;
}
.social-button:hover {
  background: #c0301c;
  transition: 0.3s;
}
.works {
  background: #fff;
  padding: 0 14% 0 14%;
  text-align: center;
  height: 1380px;
}
.works a:hover {
  color: #c0301c;
}
.works ul {
  padding-top: 20px;
  padding-bottom: 27px;
}
.works li {
  padding-right: 15px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.hair-dresser {
  background: url("../img/works/bg-works-1.png");
  background-size: 100%;
}
.mail {
  background: url("../img/works/bg-works-2.png");
  background-size: 100%;
}
.buisness {
  background: url("../img/works/bg-works-3.png");
  background-size: 100%;
}
.photography {
  background: url("../img/works/bg-works-4.png");
  background-size: 100%;
}
.bicycle {
  background: url("../img/works/bg-works-5.png");
  background-size: 100%;
}
.notebook {
  background: url("../img/works/bg-works-6.png");
  background-size: 100%;
}
.office {
  background: url("../img/works/bg-works-7.png");
  background-size: 100%;
}
.paper {
  background: url("../img/works/bg-works-8.png");
  background-size: 100%;
}
.calendar {
  background: url("../img/works/bg-works-9.png");
  background-size: auto;
}
.img-works-style {
  height: 320px;
  width: 360px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.works .row :last-child {
  margin-right: 0;
}
.bg-works-hover {
  height: 320px;
  width: 360px;
  margin-left: -15px;
  background: rgba(211, 110, 96, 0.7);
  color: #fff;
  line-height: 1;
  opacity: 0;
}
.bg-works-hover > :first-child {
  padding-top: 31%;
  font-family: Montserrat-Regular;
  font-size: 18px;
  padding-bottom: 13px;
}
.bg-works-hover > :nth-child(2) {
  padding-bottom: 20px;
  font-size: 12px;
}
.works-button {
  padding: 16px 20px 16px 20px;
  color: rgba(211, 110, 96, 0.7);
  background-color: #fff;
  border-radius: 1px;
}
.img-works-style:hover > .bg-works-hover {
  opacity: 1;
  transition: 0.5s;
}
.contact {
  background-image: url('../img/bg-contact.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.contact-style {
  padding: 0 14% 0 14%;
  text-align: center;
  background-color: rgba(192, 48, 28, 0.6);
  height: 368px;
  font-family: RobotoSlab;
  font-size: 30px;
  color: white;
  line-height: 1.1;
}
.contact-style > :first-child {
  padding-top: 95px;
}
.contact-style > button {
  margin-top: 50px;
}
.blog-posts {
  background: #fff;
  height: 1100px;
  padding: 0 14% 0 14%;
  text-align: center;
}
.blog-posts .col-lg-8 {
  width: 80%;
}
.blog-posts h3 {
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  font-weight: 800;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  margin-top: 10px;
  line-height: 1;
}
.blog-posts h3 :hover {
  color: #c0301c;
}
.blog-posts h4 {
  font-family: RobotoSlab;
  font-size: 13px;
  font-style: italic;
  padding-bottom: 40px;
  text-align: left;
  padding-left: 15px;
}
.blog-posts p {
  text-align: left;
  line-height: 1.7;
}
.blog-posts img {
  height: 400px;
  width: 490px;
  padding-bottom: 80px;
}
.blog-posts a {
  font-family: RobotoSlab;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 5.5;
  letter-spacing: 0.07em;
}
.post {
  padding-left: 25px;
}
.data {
  height: 77px;
  width: 77px;
  margin-left: 10px;
  font-family: Montserrat-Bold;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 1px #555555;
  padding-top: 1em;
}
.data p {
  text-align: center;
  line-height: 1;
}
.data :first-child {
  font-size: 24px;
}
.clients {
  background: #f8f8f8;
  height: 480px;
  padding: 0 14% 0 14%;
  text-align: center;
}
.clients p {
  font-size: 20px;
  padding-bottom: 35px;
}
.clients > :first-child {
  padding-top: 100px;
  padding-bottom: 50px;
}
.img-1 {
  width: 150px;
  height: 30px;
}
.img-2 {
  width: 120px;
  height: 50px;
  margin-top: -10px;
}
.img-3 {
  width: 145px;
  height: 15px;
}
.img-4 {
  width: 105px;
  height: 20px;
}
.img-5 {
  width: 120px;
  height: 45px;
  margin-top: -10px;
}
#slick-rows > div {
  width: 790px;
  height: 175px;
  margin-left: 15%;
  line-height: 1;
}
#slick-rows > div > :first-child {
  font-size: 18px;
  font-style: italic;
}
.get-in-touch {
  background: #fff;
  padding: 0 14% 0 14%;
  height: 652px;
  line-height: 1;
}
.get-in-touch form > div {
  padding-bottom: 20px;
}
.get-in-touch h3 {
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
  line-height: 1.7;
}
.get-in-touch h3 i {
  padding-right: 20px;
  font-size: 20px;
}
.get-in-touch p {
  padding-left: 25px;
  font-family: RobotoSlab;
  font-size: 11px;
  line-height: 1.2;
}
.get-in-touch span {
  color: #c0301c;
}
.get-in-touch button {
  background: none;
  height: 45px;
  width: 175px;
  border: solid 1px #555555;
  border-radius: 1px;
}
.get-in-touch button :hover {
  background: #c0301c;
}
.contact-info {
  position: relative;
  top: -22px;
}
.contact-info :nth-child(3n) {
  padding-bottom: 10px;
}
.info {
  position: relative;
  top: 15px;
  left: -55px;
}
.footer {
  background: #c0301c;
  height: 305px;
  padding: 0 14% 0 14%;
  text-align: center;
}
.footer > .bold-row {
  border-bottom: solid #fff 1px;
  padding: 0;
}
.footer h2 {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}
.footer-name {
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-left: -2%;
  text-align: center;
  left: 10px;
  top: 10px;
  color: #fff;
}
.footer-name div {
  width: 55px;
  height: 55px;
  padding: 7px 8px 7px 8px;
  display: inline;
  border: solid white 2.5px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  text-align: center;
  margin-right: 11px;
}
.footer-name :last-child {
  margin-right: 0;
}
@media (max-width: 568px) {
  .home-bg,
  .contact {
    background-attachment: srcoll;
  }
}
