@media screen and (max-width: 768px) and (min-width: 468px) {
  body * > div {
    font-size: 2vw;
  }
  body .button-style {
    font-size: 2vw;
  }
  body h1 {
    font-size: 2.7vw;
  }
  body h2 {
    font-size: 2.3vw;
  }
  body .bold-row {
    transform: scale(3, 1);
  }
  body header .col-xs-12 {
    text-align: center;
  }
  body header h1 {
    font-size: 2.7vw;
  }
  body header ul {
    font-size: 2.1vw;
  }
  body .home-section > :nth-child(2) {
    padding-top: 8vw;
    font-size: 5vw;
  }
  body .home-section > :nth-child(3) {
    margin-bottom: 3vw;
    font-size: 2.5vw;
  }
  body .service-description h3 {
    font-size: 2.2vw;
  }
  body .sprit-circles {
    transform: scale(0.65, 0.65);
  }
  body .team-title {
    font-size: 2vw;
  }
  body .team-subtitle {
    font-size: 2vw;
    margin-top: -2%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(23.125vw);
  }
  body .works li {
    font-size: 2.5vw;
  }
  body .works-table {
    transform: scale(1.2, 1.2);
    padding: 10% 0 10% 0;
  }
  body .bg-works-hover > :first-child {
    padding-top: 3vw;
    padding-bottom: 0.6vw;
    font-size: 2.2vw;
  }
  body .bg-works-hover > :nth-child(2) {
    font-size: 2.2vw;
    padding-bottom: 0.6vw;
  }
  body .works-button {
    font-size: 2.2vw;
  }
  body .contact-style {
    font-size: 2.3vw;
  }
  body .blog-posts {
    padding-left: 14%;
    padding-right: 14%;
  }
  body .blog-posts h1,
  body .blog-posts h2 {
    padding-right: 0;
  }
  body .blog-posts .bold-row {
    margin-right: auto;
  }
  body .blog-posts .post-conteiner {
    padding-bottom: 1%;
  }
  body .blog-posts .post-conteiner > :nth-child(3) {
    padding-left: 10%;
  }
  body .blog-posts h3 {
    font-size: 2.2vw;
  }
  body .blog-posts h4 {
    font-size: 2vw;
  }
  body .blog-posts img {
    width: calc(85.75vw);
    height: auto;
    margin-left: -3%;
  }
  body .blog-posts a {
    font-size: 2vw;
  }
  body .blog-posts p {
    margin: 0;
  }
  body .partners {
    position: relative;
    width: 120%;
    left: -7%;
  }
  body .clients p {
    font-size: 2vw;
  }
  body #slick-rows > div {
    width: calc(59.25vw);
    height: calc(16.40625vw);
  }
  body .get-in-touch h3,
  body .get-in-touch button,
  body .get-in-touch input {
    font-size: 2.5vw;
  }
  body .get-in-touch i,
  body .get-in-touch p {
    font-size: 1.7vw;
  }
  body .get-in-touch button {
    transform: scale(0.8, 0.8);
  }
  body .form-control {
    height: 6vw;
  }
  body .footer-name {
    padding-bottom: 3vw;
  }
  body .footer-name div {
    font-size: 2vw;
    border: solid white 1.5px;
    left: -5%;
  }
  body .footer-name h2 {
    padding-top: 4vw;
  }
}
