@media screen and (max-width: 468px) and (min-width: 168px) {
  body * > div {
    font-size: 4vw;
  }
  body .button-style {
    font-size: 3vw;
  }
  body .social-button {
    font-size: 2.5vw;
  }
  body h1 {
    font-size: 4vw;
  }
  body h2 {
    font-size: 2.5vw;
  }
  body .bold-row {
    transform: scale(3, 1);
  }
  body header h1 {
    font-size: 5vw;
  }
  body header ul {
    font-size: 2.8vw;
    width: 125%;
    text-align: left;
    margin-left: -10%;
  }
  body .home-section > :nth-child(2) {
    padding-top: 3vw;
    font-size: 5vw;
  }
  body .home-section > :nth-child(3) {
    margin-bottom: 3vw;
    font-size: 3.5vw;
  }
  body .service-description h3 {
    font-size: 3.5vw;
  }
  body .sprit-circles {
    transform: scale(0.65, 0.65);
  }
  body .team-title {
    font-size: 2vw;
  }
  body .team-subtitle {
    font-size: 2vw;
    margin-top: -7%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(23.125vw);
  }
  body .works li {
    font-size: 3.5vw;
  }
  body .works-table {
    transform: scale(1.2, 1.2);
    padding: 10% 0 10% 0;
  }
  body .bg-works-hover > :first-child {
    padding-top: 3vw;
    padding-bottom: 0.6vw;
    font-size: 2.2vw;
  }
  body .bg-works-hover > :nth-child(2) {
    font-size: 2.2vw;
    padding-bottom: 0.6vw;
  }
  body .works-button {
    font-size: 2.2vw;
  }
  body .contact-style {
    font-size: 3.5vw;
  }
  body .blog-posts .bold-row {
    margin-right: auto;
  }
  body .blog-posts .post-conteiner {
    padding-bottom: 1%;
  }
  body .blog-posts .post-conteiner > :nth-child(3) {
    padding-left: 10%;
  }
  body .blog-posts h3 {
    font-size: 3.2vw;
  }
  body .blog-posts h4 {
    font-size: 2.7vw;
  }
  body .blog-posts img {
    width: calc(85.75vw);
    height: auto;
    margin-left: -6%;
  }
  body .blog-posts a {
    font-size: 3vw;
  }
  body .blog-posts p {
    margin: 0;
  }
  body .partners {
    position: relative;
    width: 130%;
    left: -11%;
  }
  body .clients p {
    font-size: 4vw;
    line-height: 1.3;
  }
  body .clients .img-1,
  body .clients .img-2,
  body .clients .img-3,
  body .clients .img-4,
  body .clients .img-5 {
    transform: scale(1.6, 1.7);
  }
  body #slick-rows > div {
    width: calc(74.0625vw);
    height: calc(35vw);
  }
  body .get-in-touch button {
    font-size: 4vw;
    height: auto;
    width: 75%;
  }
  body .form-control {
    height: 6vw;
  }
  body .footer-name {
    padding-bottom: 5vw;
  }
  body .footer-name div {
    font-size: 4vw;
    border: solid white 1px;
    left: -5%;
  }
  body .footer-name .bold-row {
    margin-bottom: 5%;
  }
  body .footer-name h2 {
    padding-top: 4vw;
  }
}
