@media screen and (max-width: 1024px) {
  body * > div {
    font-size: 1.6vw;
  }
  body .button-style {
    font-size: 1.6vw;
  }
  body h1 {
    padding-top: 7vw;
    font-size: 18px;
  }
  body h2 {
    padding-top: 2vw;
    padding-bottom: 7vw;
  }
  body .home-bg {
    background-size: 103%;
    background-position: top;
  }
  body header nav {
    margin-left: 0;
  }
  body .home-section > :nth-child(2) {
    font-size: 32px;
    padding-top: 15vw;
  }
  body .home-section > :nth-child(3) {
    font-size: 16px;
  }
  body .service-description h3 {
    padding: 0;
    margin: 2%;
  }
  body .service-description p {
    line-height: 1.5;
    padding: 0;
    margin: 2%;
  }
  body .sprit-circles {
    transform: scale(0.8, 0.8);
  }
  body .social-button {
    font-size: 16px;
  }
  body .arrow-right,
  body .arrow-left {
    top: 20%;
  }
  body .team-subtitle {
    margin-top: -2%;
  }
  body #slick-images {
    height: 35vw;
  }
  body .team-photo {
    max-width: calc(17.6875vw);
  }
  body .contact-style {
    padding-bottom: calc(5.1875vw);
  }
  body .contact-style > :first-child {
    padding-top: calc(5.1875vw);
  }
  body .blog-posts h3 {
    font-size: calc(1.5vw);
  }
  body .blog-posts h4 {
    font-size: calc(1.25vw);
  }
  body .blog-posts .data p {
    font-size: calc(1.125vw);
    margin: -0.6vw 0 1vw -0.6vw;
  }
  body .blog-posts .data :first-child {
    font-size: calc(1.75vw);
  }
  body .partners {
    position: relative;
    width: 110%;
    left: -4%;
  }
  body .clients p {
    font-size: 2vw;
  }
  body #slick-rows > div {
    width: calc(59.25vw);
    height: calc(16.40625vw);
  }
  body .slick-dots {
    transform: scale(0.4, 0.4);
  }
}
